<!--<div class="home-image">-->
<!--  <h1 class="site-heading">Affordable Care Act - Enrollment Portal</h1>-->
<!--  <p class="sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et-->
<!--    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--  <button class="btn btn-primary btn-lg download-button" type="button" routerLink="/login"> Login </button>-->
<!--  <button class="btn btn-info btn-lg download-button" type="button"> Learn More</button>-->
<!--</div>-->
<h1 class="site-heading">Affordable Care Act - Enrollment Portal</h1>
<section class="new-training container" fxLayout fxLayoutAlign="right">
  <mat-card class="card" fxFlex="400px">
    <mat-card-title>ACA Enrollment Overview</mat-card-title>
    <mat-card-content>
      Learn more about ACA Enrollment
      <p *ngIf="welcomeMessage">Hello... {{welcomeMessage}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="getWelcomeMessage()" mat-raised-button color="primary" type="button">More</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="400px">
    <mat-card-title>Understand about Eligibility Types</mat-card-title>
    <mat-card-content>
      Eligibility Types overview...
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Start</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="400px">
    <mat-card-title>Business Rules</mat-card-title>
    <mat-card-content>
      Business Rules Overview
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Start</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="400px">
    <mat-card-title>Zeus Architecture</mat-card-title>
    <mat-card-content>
      Technical Architecture of Zeus
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Start</button>
    </mat-card-actions>
  </mat-card>
</section>

<section class="new-training container" fxLayout fxLayoutAlign="right">
  <mat-card class="card" fxFlex="400px">
    <mat-card-title>Time to start a workout</mat-card-title>
    <mat-card-content>
      Select type of training
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Start</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="400px">
    <mat-card-title>Time to start a workout</mat-card-title>
    <mat-card-content>
      Select type of training
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Start</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="400px">
    <mat-card-title>Time to start a workout</mat-card-title>
    <mat-card-content>
      Select type of training
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Start</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card" fxFlex="400px">
    <mat-card-title>Time to start a workout</mat-card-title>
    <mat-card-content>
      Select type of training
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
